@use "../../styles/partials/mixins" as *;

.profile {
  width: 22%;
  margin: auto;

  & button {
    @include btn;
    border: none;
    align-self: center;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
    &__name,
    &__home-country,
    &__email {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 16px;
  
      & > label {
        margin-right: 16px;
      }
  
      & > input {
        width: 200px;
        padding: 4px;
        border-radius: 5px;
      }
    }
  }
}

.password-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__current-password,
  &__new-password,
  &__confirm-new-password {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    & > label {
      margin-right: 16px;
    }

    & > input {
      width: 200px;
      padding: 4px;
      border-radius: 5px;
    }
  }
}
