.add-trip {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  width: 50%;
  margin: auto;

  &-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 16px;
    margin-bottom: 16px;

    &__destination,
    &__start-date,
    &__end-date {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      & > * {
        justify-self: flex-end;
      }

      & > label {
        margin-right: 16px;
      }

      & > input {
        width: 200px;
        padding: 4px;
        border-radius: 5px;
      }
    }

    &__hotel {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 25px;

      & > p {
        align-self: center;
      }

      &-name,
      &-address,
      &-phone,
      &-website {
        display: flex;
        margin-bottom: 16px;

        & > label {
          margin-right: 16px;
        }

        & > input {
          width: 200px;
          padding: 4px;
          border-radius: 5px;
        }
      }
    }

    & button {
      align-self: center;
    }
  }
}
