@use "../../styles/partials/variables" as *;

.funny-text {
    text-align: center;
}

.hero {
    position: relative;
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
    text-align: center;
    background-color: $black;
    display: flex;
    justify-content: center;

    &__image {
        width: 35%;
    }

    &__text {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        color: $primary;

        & > h3 {
            margin-top: 0;
        }
    }
}

.landing-page-sign-up {
    text-decoration: none;
    color: #fe4f30;
}