@use "../../styles/partials/mixins" as *;

.user-map {
  display: flex;
  flex-direction: column;

  & input {
    width: 80%;
    align-self: center;
  }
}

.map-container {
  margin: auto;
  width: 600px;
  height: 300px;
}

#map-form {
  display: flex;
  flex-direction: column;

  & > button {
    margin-top: 10px;
    align-self: center;
    margin-bottom: 10px;
    @include btn;
  }
}
