.home {
  padding: 40px;

  &__welcome {
    text-align: center;
  }

  &__return-reqs {
    &-static {
      margin-left: 128px;
    }

    &-dynamic {
      width: 50%;
      margin: auto;
      margin-bottom: 24px;
      line-height: 24px;
    }
  }
}
